# CONEXÕES
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# BANCO DE DADOS
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=invokev8;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

# CONFIGURAÇÃO DE RECURSOS
start vrp
start [system]
start [nation]
start [creative]
start [extras]
start [smartphone]
start [clothes]
start [maps]
start [vehicles]
start [weapons]

# SEGURANÇA / SCRIPT HOOK
sv_scriptHookAllowed 0

# TAGS / LOCALIZAÇÃO
sets tags "BRASILANDIA"
sets locale "pt-BR"

# ÍCONE DO SERVIDOR
load_server_icon server.png

# MASTER SERVER
sv_master1 ""

# BANNERS
sets banner_detail ""
sets banner_connecting ""

# PERMISSÕES / ACE
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010c6d36de group.admin

# ONESYNC
set onesync_population true
set sv_enforceGameBuild 2699
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

# VOICE / CONFIGURAÇÕES DO CLIENTE
setr voice_syncData 1
setr cl_customCrosshair false
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# PURE LEVEL
sets sv_pureLevel 1

# INFORMAÇÕES DO SERVIDOR
sv_hostname "Brasilândia! / Five Community"
sets sv_projectName "Brasilândia!"
sets sv_projectDesc "A melhor tema SP do Brasil! #BRASILISBOABCDZ7GRAUSPAULOZONARTISTASALVESAMPAQUEBRADAJAGUARECAPITALESTENOVASPAULISTAPLFAC"

sets Grupo "Five Community #TOP1 "
sets Desenvolvedor "John "
sets Discord "https://discord.gg/fivecommunity"

# SLOTS
sv_maxclients 7

# CHAVES / LICENÇAS
set steam_webApiKey ""
sv_licenseKey ""